* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
/*!Header Section*/
header {
height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.logo_img {
  height: 30px;
}
.furniture_div {
  margin-left: 3%;
}
.nav_container{
  margin-right: 1%;
  height: 75px;
 width: 75%;
 min-width: 400px;
  background-color: #FFFFFF;
}
.nav_bar {
  margin: 0.5%;
  padding-top: 5px;
  height: 65px;
   width: 95%;
   min-width: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFFFFF;
  
  
}
.nav_bar a {
 
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 1;
  font-weight: 700;
  color: #333333;
  line-height: auto;
}
.nav_bar a:hover {
  color: blueviolet;
}
.nav_bar a:focus {
  color: coral;
}

/*!MAIN SECTION*/
.main_container1{
  background-color: blue;
  box-sizing: border-box;
  padding: 0 0;
  height: 35rem;
  width: 100%;
 
}
.chair_banner {
 height: 100%;
 width: 100%;
 position: relative;
  background-color: aqua;
}
.chair_image{
height: 100%;
width:100%;
}
.popup_container {
  width: 40%;
  max-width: 500px;
  background-color: #dfe9f4;
  border-radius: 2em;
  padding: 1em;
  position: absolute;
  top: 30%;
  right: 09%;
}
.popup_container h5 {
  color: #333333;
  font-size: 1em;
  font-weight: 800;
}
.popup_container h2 {
  color: #054c73;
  line-height: 1.2;
  font-size: 3.25em;
}
.popup_container p {
  color: #333333;
  line-height: 1.5;
  font-size: 1.125em;
}
button {
  background-color: #054c73;
  border: 1px solid #054c73;
  border-radius: 50px;
  color: white;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em 2em;
}
/**Main container 2*/
.main_container2 {
  display: flex;
  justify-content: space-evenly;
  height: 85px;
  background-color: #F2F5FF;
}
.common {
  background-color: #F2F5FF;
  height: 70%;
  margin: 0.5em 0;
  width:20%;
  display: flex;
 justify-content: center;
 align-items: center;
}

.common_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F5FF;
  width: 30%;
  height: 100%;
}
.free_logo{
  background-color: #F2F5FF;
  height: 90%;
  width: 90%;
 margin-right: 15px;
}
.support_logo{
  background-color: #F2F5FF;
  height: 80%;
  width: 70%;
}
.authentic_logo{
  background-color: #F2F5FF;
  height: 75%;
  width: 70%;
}

.text {
  background-color: #F2F5FF;
  height: 95%;/*yaha pe mai 5em bhi de skta tha but main parent ka height 85px tha tho mai 95% de diya ab wo 85px ka 95% lega*/
  width:80%;
  margin-top: 6px ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 
 
}
.text span {
  
  background-color: #F2F5FF;
  font-weight: 700;
  line-height: 2px;
  font-size: 1.25em;
  color: #333333;
}
.text p{
  
  background-color: #F2F5FF;
  font-weight: 300;
  font-size: 0.75em;
}
